* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

svg {
  width: 30px;
  height: 30px;
  margin: 10px 0;
}

/* ===========contato */

.contat {
  position: fixed;
  top: 37%;
  background: #fafafa9a;
  padding: 20px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ================= header */

.header-conteiner {
  background: #0c0b0b9d;
  height: 50px;
}

.header-conteiner,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header-conteiner nav ul {
  gap: 2rem;
}

/* ================== inicio do site */

.section-profile {
  background: #25232386;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 12rem;
}

.section-profile div > h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.section-profile img {
  border-radius: 1000px;
  width: 30%;
  height: 60%;
  margin-top: -6rem;
  margin-left: 6rem;
}

/* ============== infos */

.infos {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  width: 80%;
  gap: 40px;
  display: flex;
}

.skills h3 {
  text-align: center;
  height: 100px;
}

.skills li {
  margin: 40px 0;
}

#exib {
  position: relative;
  top: 9rem;
}

.skills figure {
  width: 18rem;
  display: flex;
  align-items: center;
  gap: 30px;
}

.skills figure img {
  width: 64px;
}

.skills .soft-skill figure {
  justify-content: end;
  text-align: left;
}

/* ============= Projects */

.projects {
  background: #0c0b0b9d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.projects h2 {
  text-align: center;
}

.projects > .conteiner-img{
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0;
  justify-content: space-evenly;
  width: 80%;
}

.conteiner-img > div {
  margin: -10px 40px;
}

.projects figure {
  width: 240px;
  margin: 0;
}

.projects figure img {
  width: 100%;
  opacity: 0.8;
}

.conteiner-img figcaption{
  position: relative;
  text-align: center;
  top: -40px;
  height: 50px;
}
